/**
 * App - Buttons
 */

+prefix-classes('dcfb-')

	button.button
		color inherit
		font-size inherit
		padding 0

		&
		&:focus
		&:hover
			background none
			box-shadow none
			outline none
			border none

	button.button-text
		line-height 2.7
		padding 0 10px
		text-transform uppercase
		font-weight 500
		cursor pointer
		border 1px solid rgba(0,0,0,0.3)

		&:hover
			border 1px solid rgba(0,0,0,0.8)

	.button-icon
		padding 0
		display flex
		align-items center
		cursor pointer
