/**
 * App - Logo
 */

#editor

	+prefix-classes('dcfb-')

		.logo

			.rect-front-1
				fill #dddfe0
			.rect-front-2
				fill #555d66
			.rect-back-1
				fill #bbbdbf
			.rect-back-2
				fill #dddfe0
			.circle
				fill #fff

	.components-icon-button:hover
	.components-icon-button.is-toggled

		+prefix-classes('dcfb-')

			.logo

				.rect-front-1
					fill #dddfe0!important// Necessary
				.rect-front-2
					fill #555d66!important// Necessary
				.rect-back-1
					fill #bbbdbf!important// Necessary
				.rect-back-2
					fill #dddfe0!important// Necessary
				.circle
					fill #3a4046!important// Necessary

	.components-icon-button.is-toggled

		+prefix-classes('dcfb-')

			.logo

				.rect-front-2
					fill #717982!important// Necessary
