/**
 * App
 */

@import "./_logo"
@import "./_buttons"

+prefix-classes('dcfb-')

	#dcfb-container

		h3
			margin 0
			font-size inherit

		h4
			font-size inherit

		.item-description-list
		.group-description-list
			list-style disc
			margin-left 8px
