/**
 * ItemButtons - Menu
 */

+prefix-classes('dcfb-')

	.menu
		background-color #23282c
		border 1px solid rgba(255,255,255,.2)
		color rgba(255,255,255,.8)
		padding 5px 0
		max-width 300px

	button.button-menu
		line-height 1.7em
		min-height 40px

		.menu &
			width 100%
			padding 0 14px
			display flex
			align-items center
			transition background-color .2s $e_standard

			&:hover
				background-color rgba(255,255,255,.2)

		&.is_disabled
			pointer-events none
			opacity .3
