/**
 * BlockGroup
 */

+prefix-classes('dcfb-')

	.group
		--background_color #f8f8f8

	.group:last-child .group-content
		padding-bottom 100px

	.group-description-paragraph
		padding-top 20px
		margin 0

	#dcfb-container .group-title
		font-size 14px
		font-weight 500

	.group-header
		padding 40px 20px
		position relative
		background-color var(--background_color)
		border-bottom 1px solid rgba(0,0,0,0.05)

		&
		.group-title
		.group-description-paragraph
			color var(--color)

		.button
			color inherit
			cursor pointer
			position absolute
			top 10px
			right 10px
			padding 5px

			#dcfb-container &:hover
			#dcfb-container &:focus
				box-shadow none
				background none
				outline none
				border none
				color inherit
